* {
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
}

.container {
  display: flex;
}

.menu {
}

.items {
}

.items__cards {
}

.menu__title {
}

.menu__subtitle {
}

.menu__button {
}

.items__cards--card1 {
}

.items__cards--card2 {
}

.items__cards--card3 {
}
